/*トップページの変更はstyle2に*/

/*#auth { */
/*  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;*/
/*  font-weight:100; */
/*  background: rgba(170,170,0,0.5);*/
/*  color: white;*/
/*  padding: 2rem;*/
/*  height:100%;*/
/*  width: 33%;*/
/*  margin:2rem;*/
/*  float: left;*/
/*  font-size: 2rem;*/
/*  position: relative;*/
/*  top: 30px;*/
/*}*/

/*#auth .title h1{*/
/*  font-size: 10rem;*/
/*  color:rgba(200,0,0,5);*/
/*  border:0;*/
/*  margin:0;*/
/*  padding:0;*/
/*}*/
/*#auth .title p{*/
/*  font-size: 3rem;*/
/*  color: #000;*/
/*  border:0;*/
/*  margin:0;*/
/*  padding:0;*/
/*}*/

/*#auth .title{*/
/*  -webkit-text-stroke: 4px #000;*/
/*}*/

/*.subtitle{*/
/*  color: #000;*/
/*}*/

/*#auth button { */
/*  display: block;*/
/*  width: 80%;*/
/*  padding: .4rem;*/
/*  border: none; */
/*  margin: 1rem auto; */
/*  font-size: 1.3rem;*/
/*  background: rgba(255,255,255,0.23);*/
/*  color: #fff;*/
/*  border-radius: 3px; */
/*  cursor: pointer;*/
/*  transition: .3s background;*/
/*}*/
/*#auth button:hover { */
/*   background: rgba(0,0,0,0.5);*/
/*}*/

/*@media screen and (max-width: 500px) { */
/*  div{width:70%;} */
/*}*/
/*@media screen and (max-device-width: 800px) {*/
/*  html { background: url(https://thenewcode.com/assets/images/polina.jpg) #000 no-repeat center center fixed; }*/
/*  #bgvid { display: none; }*/
/*}*/

/*video { */
/*    position: relative;*/
/*    top: 0px;*/
/*    left: 50%;*/
/*    min-width: 80%;*/
/*    min-height: 80%;*/
/*    width:　auto;*/
/*    height: auto;*/
/*    max-width:1160px;*/
/*    max-height:860px;*/
/*    z-index: -100;*/
/*    transform: translateX(-50%) translateY(-0%);*/
/* background-size: cover;*/
/*  transition: 1s opacity;*/
/*}*/

/*.overlay {*/
/*  position: fixed;*/
/*  top: 0;*/
/*  left: 0;*/
/*  z-index: 2;*/
/*  width: 100%;*/
/*  max-height: 100%;*/
/*}*/


/*body {*/
/*background-repeat: repeat;*/
/*background-attachment: fixed;*/
/*background-position: right bottom;*/
/*}*/

.navbar {
    background-color: #fff	;
    color: #006600;
    /*background-image: url("/bg3.jpg");*/
    /*background-repeat: no-repeat;*/
    /*height: 80px;*/
}
.navbar .container{
    
}



.bin img{
  width: 100%;
  height: 100%;
}

.bin{
  background-image: url("");
  border: 1px solid #CCC;
  height: 150px;
  margin:0;
  padding:0;
  }

.bin

.bin:hover{
  
}

/*マテリアルホバー効果*/
.bin img {
  -webkit-filter: sepia(0);
  filter: sepia(0);
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  width:100%;
  height:100%;
}

.bin:hover img {
  -webkit-filter: sepia(100%);
  filter: sepia(100%);
  
  height:180px;
  opacity: 0.5;
  content: "Bin";
  display:block;
  position:center;
  text-align:center;
  color:#fff;
  font-size:7rem;
  font-style:none;
  transition-duration: .5s;
}

.bin {
  margin-top: 10px;
	height:			180px;
	overflow:		hidden;
	position:		relative;
}
.bin .caption {
	font-size:		130%;
	text-align: 		center;
	color:			#fff;
}
.bin .hidmess {
	width:			100%;
	height:			100%;
	position:		absolute;
	top:			0;
	left:			0;
	opacity:		0;	/* マスクを表示しない */
	background-color:	rgba(0,0,0,0.4);
	-webkit-transition:	all 0.6s ease;
	transition:		all 0.6s ease;
}
.bin:hover .hidmess {
	opacity:		1;	/* マスクを表示する */
	padding-top:		80px;	/* ホバーで下にずらす */
}

.bin .hidmess .caption{
  font-size: 5rem;
}
/*箱*/
.box img {
  -webkit-filter: sepia(0);
  filter: sepia(0);
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  width:100%;
  height:100%;
}

.box:hover img {
  -webkit-filter: sepia(100%);
  filter: sepia(100%);
  width:100%;
  height:180px;
  opacity: 0.5;
  content: "Bin";
  display:block;
  position:center;
  text-align:center;
  color:#fff;
  font-size:7rem;
  font-style:none;
  transition-duration: .5s;
}

.box {
	height:			180px;
	overflow:		hidden;
	position:		relative;
	margin-top: 10px;
}
.box .caption {
	font-size:		130%;
	text-align: 		center;
	color:			#fff;
}
.box:hover .hidmess {
	opacity:		1;	/* マスクを表示する */
	padding-top:		80px;	/* ホバーで下にずらす */
}
/*花*/
.flower img {
  -webkit-filter: sepia(0);
  filter: sepia(0);
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  width:100%;
  height:100%;
}

.flower:hover img {
  -webkit-filter: sepia(100%);
  filter: sepia(100%);
  width:100%;
  height:180px;
  opacity: 0.5;
  content: "Bin";
  display:block;
  position:center;
  text-align:center;
  color:#fff;
  font-size:7rem;
  font-style:none;
  transition-duration: .5s;
}

.flower {
	height:			180px;
	overflow:		hidden;
	position:		relative;
	margin-top: 10px;
}
.flower .caption {
	font-size:		130%;
	text-align: 		center;
	color:			#fff;
}
.flower:hover .hidmess {
	opacity:		1;	/* マスクを表示する */
	padding-top:		80px;	/* ホバーで下にずらす */
}
/*段ボール*/
.cardboard img {
  -webkit-filter: sepia(0);
  filter: sepia(0);
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  width:100%;
  height:100%;
}

.cardboard:hover img {
  -webkit-filter: sepia(100%);
  filter: sepia(100%);
  width:100%;
  height:180px;
  opacity: 0.5;
  content: "Bin";
  display:block;
  position:center;
  text-align:center;
  color:#fff;
  font-size:7rem;
  font-style:none;
  transition-duration: .5s;
}

.cardboard {
	height:			180px;
	overflow:		hidden;
	position:		relative;
	margin-top: 10px;
}
.cardboard .caption {
	font-size:		130%;
	text-align: 		center;
	color:			#fff;
}
.cardboard:hover .hidmess {
	opacity:		1;	/* マスクを表示する */
	padding-top:		80px;	/* ホバーで下にずらす */
}
/*その他*/
.others img {
  -webkit-filter: sepia(0);
  filter: sepia(0);
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  width:100%;
  height:100%;
}

.others:hover img {
  -webkit-filter: sepia(100%);
  filter: sepia(100%);
  width:100%;
  height:180px;
  opacity: 0.5;
  content: "Bin";
  display:block;
  position:center;
  text-align:center;
  color:#fff;
  font-size:7rem;
  font-style:none;
  transition-duration: .5s;
}

.others {
	height:			180px;
	overflow:		hidden;
	position:		relative;
	margin-top: 10px;
}
.others .caption {
	font-size:		130%;
	text-align: 		center;
	color:			#fff;
}
.others:hover .hidmess {
	opacity:		1;	/* マスクを表示する */
	padding-top:		80px;	/* ホバーで下にずらす */
}
/*全種類*/
.all img {
  -webkit-filter: sepia(0);
  filter: sepia(0);
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  width:100%;
  height:100%;
}

.all:hover img {
  -webkit-filter: sepia(100%);
  filter: sepia(100%);
  width:100%;
  height:180px;
  opacity: 0.5;
  content: "Bin";
  display:block;
  position:center;
  text-align:center;
  color:#fff;
  font-size:7rem;
  font-style:none;
  transition-duration: .5s;
}

.all {
	height:			180px;
	overflow:		hidden;
	position:		relative;
	margin-top: 10px;
}
.all .caption {
	font-size:		130%;
	text-align: 		center;
	color:			#fff;
}
.all:hover .hidmess {
	opacity:		1;	/* マスクを表示する */
	padding-top:		80px;	/* ホバーで下にずらす */
}

.hidmess {
	width:			100%;
	height:			100%;
	position:		absolute;
	top:			0;
	left:			0;
	opacity:		0;	/* マスクを表示しない */
	background-color:	rgba(0,0,0,0.4);
	-webkit-transition:	all 0.6s ease;
	transition:		all 0.6s ease;
}

.hidmess .caption{
  font-size: 5rem;
}

.head-line{
  /*height:10px;*/
  /*background: linear-gradient(-135deg, #E4A972, #9941D8);*/
  border-bottom: double 5px #FFC778;
}



.bigfont{
  font-size:3rem;
}

/*@font-face {*/
/*  font-family: 'Kaushan Script';*/
/*  font-style: normal;*/
/*  font-weight: 400;*/
/*  src: url(https://themes.googleusercontent.com/static/fonts/kaushanscript/v1/qx1LSqts-NtiKcLw4N03IFhlQWQpSCpzb2Peu3I-Q34.woff) format('woff');*/
/*}*/

/*body {*/
/*  font-family:'Kaushan Script';*/
/*  font-size:200%;*/
/*}*/


.form-body p{
  width:100%;
  margin:0;
}

/* item */
        .media .form-body {
            height: 90px;
        }
        .media .form-heading {
            height: 220px;
        }
        .media .form-heading img {
            height: 200px;
            max-width: 300px;
        }
        

/*.form-heading{*/
/*  width:220px;*/
/*  height:220px;*/
/*}*/
main{
  background-image:url('/bg1jpg.jpg');
}

main .container{
  background-color:#fff;
  
}
/*フォントまだ変えられない*/
body{
  font-family: arial;
}

.navbar-left img{
  width:45px;
  height:45px;
}