.zairyou{
    display: none;
}
        
.form-group input:checked ~ .zairyou{
    display: block;
}
    
.tejun{
    display: none;
}
        
.form-group input:checked ~ .tejun{
    display: block;
}
        
.dougu{
    display: none;
}
        
.form-group input:checked ~ .dougu{
    display: block;
}
        
.checkbox{
    font-size: 15px;
    display: inline-block;
}

.nini {
    display: none;
}