/*item詳細のcss*/

main{
          background-image:url('/bg1jpg.jpg');
        }
        
main .container{
          background-color:#fff;
          
        }

.set{
    height: 500px;
    clear: both;
    margin-bottom: 50px;
}


/*.panel #show{*/
/*    height: 100%;*/
/*    width: 100%;*/
/*}*/



.box{
    width: 50%;
    height: 100%;
    display: inline;
}

